<button class="btn btn-info mb-2" (click)="formCreateEmpleado()">Crear empleado</button>
<div class="table-responsive">
<table *ngIf="empleados" class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido1</th>
    <th scope="col">Apellido2</th>
    <th scope="col">Dni</th>
    <th scope="col">Domicilio</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let empleado of empleados">
    <th>{{empleado.id}}</th>
    <td>{{empleado.nombre}}</td>
    <td>{{empleado.apellido1}}</td>
    <td>{{empleado.apellido2}}</td>
    <td>{{empleado.dni}}</td>
    <td>{{empleado.domicilio}}</td>
    <td class="text-center">
      <img (click)="setEmpleadoToUpdate(empleado)" class="mr-3" style="width: 18px" src="../../../assets/iconos/editar.png" alt="Editar">
      <img (click)="eliminarEmpleado(empleado.id)" style="width: 20px" src="../../../assets/iconos/borrar.png" alt="Editar">
    </td>
  </tbody>
</table>
</div>

<div id="form-empleado" class="mx-md-5 border border-1 rounded mx-1" *ngIf="formEmpleado">
  <app-form [updateEmpleadoObservable]="empleadoToUpdate" (cancelFormView)="hideForm()"></app-form>
</div>
